[Unit]
Description=MechArm Control Server
After=network.target

[Service]
Type=simple
User=pi
WorkingDirectory=/home/pi
ExecStart=/usr/bin/python3 -m server.app
TimeoutStopSec=10
ExecStopPost=-/usr/bin/fuser -k /dev/video0
Restart=always
RestartSec=3

[Install]
WantedBy=multi-user.target
